.block {
  height: 600px;
  width: 300px;
  border: 2px solid lightgrey;
  border-radius: 5px;
  display: inline-flexbox;
  text-align:center;
  margin: auto;
  


    h1 {
      font-size: 1rem;
    }

    p {
      font-size: .9rem;
    }
    time {
      font-weight: bold;
      font-size: .8rem;
      padding-bottom: 5px;
    }

}